{% load static %}
{% include 'base/nav.html' %}

{% block content %}
<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit : " {{title.title}} " post</title>
</head>

<style>
    
    .forms{
        margin: 5% 20%;
    }

   
</style>
<div class="forms">
    <button class="btn bg-info text-white bg-opacity-25  rounded-4 " id="back-button"><i class="fa-solid fa-angle-left"></i> Go Back</button>
   <br>
   <br>
   <br>
           <center><div class="card bg-info text-white bg-opacity-25  rounded-4 ">
                <div class="card-body">
                    <form action="" method="post" enctype="multipart/form-data">
                        <h4>Update <span style="color: rgb(34, 255, 255);">" {{ title.title }} " </span></h4> <br>
                        <br>

                        {% csrf_token %}
                        {{form.as_p}}
                        <br>
                        <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Description</label>
                        <textarea class="form-control bg-info text-white bg-opacity-25 border border-0 rounded-4" id="exampleFormControlTextarea1" rows="3" name="description" required placeholder="Write Something about your post"></textarea>
                        </div>
                        <br>
                        <button type="submit" class="btn bg-info text-white bg-opacity-25  rounded-4 "><i class="fa-solid fa-file-pen"></i> &nbsp; Update</button>
                    </form>
                </div>
              </div></center> 
        
</div>


<script>
    document.getElementById("back-button").addEventListener("click", function() {
        window.history.back();
    });
</script>


{% endblock %}