{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photography Blog</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/6a72a8e32d.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" crossorigin="anonymous"></script>
    <style>
      .body{
        background-color: rgb(0, 64, 94);
        color: white;
      }
      
        .containers{
            margin: 0% 10%;
        }
    </style>
</head>
{% endblock %}
<body class="body">
   
    {% include 'base/nav.html' %}
    
    <br>
    
    
      

      <div class="containers">
        <div class="card text-center bg-info text-white bg-opacity-25 rounded-5">
          {% if request.user.is_authenticated %}
          <div class="card-header bg-opacity-50">
            User Status
          </div>
          {% else %}
          <div class="card-header">
            
          </div>
          {% endif %}
          <div class="card-body">
            {% if request.user.is_authenticated %}
            <h3 class="card-title">Welcome <a href="{% url 'profile' user.id %}" style="text-decoration: none;" ><strong style="color: aqua;">{{user.username}}</strong></a> </h3>
            <p>You were successfully logged in</p>
            
            {% else %}
            <h6 class="card-title">Login or create an account to join us</h6>
            <p>You were logged out</p>

            {% endif %}
            <!-- Button trigger modal -->
            {% if request.user.is_authenticated %}
            <a href="{% url 'logout' %}"><button class="btn btn-danger bg-opacity-25 border border-0 rounded-4"><i class="fa-solid fa-right-from-bracket"></i>&nbsp; Logout</button></a>
            {% else %}
<button type="button" class="btn bg-info text-white bg-opacity-25 border border-0 rounded-4" data-bs-toggle="modal" data-bs-target="#exampleModal">
  <i class="fa-solid fa-right-to-bracket "></i>&nbsp; Login
</button>
{% endif %}
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content rounded-5 p-2 " style=" background-color: rgb(0, 64, 94);
    color: white;">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel"><i class="fa-solid fa-circle-user"></i>&nbsp; &nbsp; Login User</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="post">
          {% csrf_token %}
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label"><i class="fa-solid fa-user"></i>&nbsp; User name</label>
            <input type="text" name="username" class="form-control bg-info text-white bg-opacity-25 border border-0 rounded-4" id="exampleInputEmail1" aria-describedby="emailHelp">
            
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"><i class="fa-solid fa-key"></i>&nbsp; Password</label>
            <input type="password" name="password" class="form-control bg-info text-white bg-opacity-25 border border-0 rounded-4" id="exampleInputPassword1">
          </div>
          <br>
 
          <button type="submit" value="Login" class="btn bg-info text-white bg-opacity-25 border border-0"><i class="fa-solid fa-right-to-bracket"></i>&nbsp; Login</button> <br>
          <br>
          <p>Don't have an account ? <a href="{% url 'register' %}" style="color: white;">Create new account</a></p>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fa-solid fa-xmark"></i>&nbsp; Close</button>
        
      </div>
    </div>
  </div>
</div>
          </div>
          <div class="card-footer text-body-secondary">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <p style="color: white;"><i class="fa-solid fa-triangle-exclamation fa-shake" style="color: #ffffff;"></i> {{ message }}</p>
                
                {% endfor %}

             
                
            </ul>
            {% endif %}
          </div>
        </div>
        <br> <br>



        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner  rounded-5">
              <div class="carousel-item active" data-bs-interval="4000">
                <img src="{% static 'images/1.png' %}" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item" data-bs-interval="3000">
                <img src="{% static 'images/2.png' %}" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item" data-bs-interval="3000">
                <img src="{% static 'images/3.png' %}" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>

          <br>
          <br>
          <br>
        
          <h3>Explore</h3>
          
          <br>
          <br>
          <div class="row row-cols-1 row-cols-md-3 g-4" >
            
            {% for i in photo %}
           
            <div class="col">
              <div class="card h-100 bg-info text-white bg-opacity-25 rounded-5">
                <img src="{{i.image.url}}" class="card-img-top rounded-5 p-3 " style="height: 50vh;" alt="...">
                
                <div class="card-body">
                  <a href="{% url 'profile' i.user.id %}" style="text-decoration: none;"><h6 class="text-info">@{{i.user}}</h6></a>
                  <h3 class="card-title">{{i.title}}</h3>
                  <h5 class="card-title">Category : {{i.category.name}}</h5> <br>
                  <a href="read/{{i.id}}"><button class="btn bg-info text-white bg-opacity-50 rounded-4"><i class="fa-brands fa-readme" class="fa-brands fa-readme" style="color: #ffffff;"></i>&nbsp; View post</button></a>  &nbsp;

                  <a href="{{i.image.url}}" download><button type="button" id="liveToastBtn" class="btn text-white text-opacity-75 " ><i class="fa-solid fa-download"></i></button></a>  &nbsp;
                 
                 

                  <div class="toast-container position-fixed bottom-0 end-0 p-3">
                    <div id="liveToast" class="toast bg-info text-white bg-opacity-25 border border-0" role="alert" aria-live="assertive" aria-atomic="true">
                      <div class="toast-header">
                        <strong class="me-auto">Downloaded</strong>
                       
                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                      </div>
                      <div class="toast-body">
                        Your download is successfull
                      </div>
                    </div>
                  </div>


                  {% if request.user == i.user %}
                    <a href="update/{{i.title}}"><button class="btn text-white text-opacity-75"><i class="fa-solid fa-pen-to-square"></i></button></a>  &nbsp;
                   
                    <a href="delete/{{i.id}}"><button name="delete" class="btn text-white text-opacity-75"><i class="fa-solid fa-trash"></i></button></a> &nbsp;

                   {% endif %}
                  
                </div>
                <div class="card-footer">
                 <center><small class="text-white">{{i.created|timesince}} ago</small></center> 
                  
                </div>
              </div>
            </div>
            
            {% empty %}
            <div class="card bg-info text-white bg-opacity-25 p-3 rounded-5"  style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Seems like you are the first one to blog</h5> <br>
                <p class="card-text">Start a post by clicking on &nbsp; <i class="fa-solid fa-upload fa-2xs" style="color: #dadada;"></i> &nbsp; Upload button</p>
                <br> <a href="{% url 'upload' %}"><button class="btn bg-info text-white bg-opacity-50"><i class="fa-solid fa-square-plus fa-beat-fade"></i>&nbsp; Create a post</button></a> </h3></center> 
              </div>
            </div> 
            
            
            {% endfor %}
            
          </div>
      </div>

      <script>
        const toastTrigger = document.getElementById('liveToastBtn')
const toastLiveExample = document.getElementById('liveToast')

if (toastTrigger) {
  const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toastLiveExample)
  toastTrigger.addEventListener('click', () => {
    toastBootstrap.show()
  })
}
      </script>
</body>
</html>