

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
 
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/6a72a8e32d.js" crossorigin="anonymous"></script>
    
</head>
<style>
   body{
        background-color: rgb(0, 64, 94);
        color: white;
      }
</style>
<body>
    <nav class="navbar navbar-expand-lg bg-info bg-opacity-25 m-3 p-3 sticky-top rounded-4" data-bs-theme="dark">
        <div class="container-fluid text-white">
          <a class="navbar-brand" href="{% url 'home' %}"><i class="fa-regular fa-images"></i> Photography Blog</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link " aria-current="page" href="{% url 'home' %}"><i class="fa-solid fa-house"></i>&nbsp; Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'upload' %}"><i class="fa-solid fa-upload"></i>&nbsp; Upload</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="{% url 'about' %}" ><i class="fa-solid fa-info"></i>&nbsp; About</a>
              </li>
            </ul>
            {% if request.user.is_authenticated and request.user == user %}
            
        <a href="{% url 'profile' user.id %}" style="text-decoration: none;"><h6 class="text-info">@{{user.username}}</h6></a> &nbsp; &nbsp;
           

            {% endif %}
            
            &nbsp;
            {% if request.user.is_authenticated %}
            <a href="{% url 'logout' %}"><button class="btn btn-danger rounded-4"><i class="fa-solid fa-right-from-bracket"></i>&nbsp; Logout</button></a> 
            {% else %}
            <i class="fa-solid fa-user-slash" style="color: #ffffff;"></i>
            {% endif %}
            </div>
        </div>
      </nav>
</body>
</html>